<!--
  Generated template for the ItensSelecionadosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <ion-icon (click)="fecharModal()" name="arrow-round-back"></ion-icon>
      &nbsp;&nbsp;&nbsp; Itens Selecionados</ion-title
    >
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="itens" *ngFor="let itens of listaItensSelecionados">
    <ion-grid>
      <ion-card-content>
        <ion-row style="text-align: center;">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
            id="icons"
            [src]="itens.icon"
          />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ itens.item }}
        </ion-row>
      </ion-card-content>
    </ion-grid>
  </ion-card>

  <button class="btn" [disabled]="inicia == true" ion-button outline (click)="iniciaPlantacao()">
    <ion-item >
        <label>iniciar Plantaçāo</label>
        <ion-note item-end>
          <ion-icon
            style="color: #65df66; font-size: 40px;"
            name="checkmark-circle"
          ></ion-icon>
        </ion-note>
        <br />
      </ion-item>
      </button>

      <button [disabled]="inicia == false" outline (click)="finalizaPlantacao()" ion-button class="btn" >
       <ion-item >
        <label>Finalizar Plantaçāo</label>
        <ion-note item-end>
          <ion-icon
            style="color: red; font-size: 40px;"
            name="close-circle"
          ></ion-icon>
        </ion-note>
        <br />
      </ion-item>
    </button>
  
  <div class="wrapper" *ngIf="inicia == true">
    <p style="text-align: left;" id="demo">
      Plataçāo em andamento, aguarde ...
    </p>

    <div class="pie spinner"></div>
    <div class="pie filler"></div>
    <div class="mask"></div>
  </div>
</ion-content>
