page-home {
  img#icons {
    width: 30px;
    height: 30px;
  }
  .teste {
    position: fixed !important;
    top: 0 !important;
    background: white !important;
    width: 100% !important;
    margin-top: 56px;
    margin-bottom: 60px;
    border-bottom: 1px solid #d3d3d3 !important;
    text-align: left;
    color: #65df66;
    padding-bottom: 12px;
  }
  .itens {
    text-align: center;
  }
  .scroll-content {
    padding-top: 57px;
  }
}
